## Install requirements library

In [1]:
# Install excel reader engine
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd

## Read dataset & display preview

In [3]:


df = pd.read_excel('./Sample - Superstore Sales.xlsx', engine='openpyxl')
df.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.2500,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,457.8100,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,46.7075,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,1198.9710,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,30.9400,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30

In [4]:
# Standard describe

df.describe()

,Row ID,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Product Base Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,4200.000000,29965.179783,25.571735,1775.878179,0.049671,181.184422,89.346259,12.838557,0.512513
std,2424.726789,17260.883447,14.481071,3585.050525,0.031823,1196.653326,290.354383,17.264052,0.135589
min,1.000000,3.000000,1.000000,2.240000,0.000000,-14140.701600,0.990000,0.490000,0.350000
25%,2100.500000,15011.500000,13.000000,143.195000,0.020000,-83.315000,6.480000,3.300000,0.380000
50%,4200.000000,29857.000000,26.000000,449.420000,0.050000,-1.500000,20.990000,6.070000,0.520000
75%,6299.500000,44596.000000,38.000000,1709.320000,0.080000,162.748000,85.990000,13.990000,0.590000
max,8399.000000,59973.000000,50.000000,89061.050000,0.250000,27220.690000,6783.020000,164.730000,0.850000

## Splitting dataset to Continuous & Categorical

In [5]:
df_cont_vars = df.loc[:, (df.dtypes == 'float64') | (df.dtypes == 'int64')]
df_cat_vars = df.loc[:, (df.dtypes == 'object')]

In [6]:
# Continuous variabel preview
df_cont_vars.head()

,Row ID,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Product Base Margin
0,1,3,6,261.5400,0.04,-213.2500,38.94,35.00,0.80
1,49,293,49,10123.0200,0.07,457.8100,208.16,68.02,0.58
2,50,293,27,244.5700,0.01,46.7075,8.69,2.99,0.39
3,80,483,30,4965.7595,0.08,1198.9710,195.99,3.99,0.58
4,85,515,19,394.2700,0.08,30.9400,21.78,5.94,0.50

In [7]:
# Categorical variabel preview
df_cat_vars.head()

,Order Priority,Ship Mode,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container
0,Low,Regular Air,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box
1,High,Delivery Truck,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum
2,High,Regular Air,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Small Box
3,High,Regular Air,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box
4,Not Specified,Regular Air,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box

## UDF section

1. UDF for continouos data

In [8]:
def continuous_summary(x):
  return pd.Series([x.count(), x.sum(), x.min(), x.median(), x.std(), x.var(), x.quantile(0.01), x.quantile(0.25), x.quantile(0.5), x.quantile(0.75), x.quantile(0.99), x.max()],
                   index = ['N', 'SUM', 'MIN', 'MEDIAN', 'STDEV', 'VAR', 'P1', 'P25', 'P50', 'P75', 'P99', 'MAX'])

In [9]:
df_cont_vars.apply(continuous_summary).T.round(2)

,N,SUM,MIN,MEDIAN,STDEV,VAR,P1,P25,P50,P75,P99,MAX
Row ID,8399.0,3.527580e+07,1.00,4200.00,2424.73,5.879300e+06,84.98,2100.50,4200.00,6299.50,8315.02,8399.00
Order ID,8399.0,2.516775e+08,3.00,29857.00,17260.88,2.979381e+08,514.96,15011.50,29857.00,44596.00,59396.58,59973.00
Order Quantity,8399.0,2.147770e+05,1.00,26.00,14.48,2.097000e+02,1.00,13.00,26.00,38.00,50.00,50.00
Sales,8399.0,1.491560e+07,2.24,449.42,3585.05,1.285259e+07,12.41,143.20,449.42,1709.32,18318.40,89061.05
Discount,8399.0,4.171900e+02,0.00,0.05,0.03,0.000000e+00,0.00,0.02,0.05,0.08,0.10,0.25
Profit,8399.0,1.521768e+06,-14140.70,-1.50,1196.65,1.431979e+06,-1759.60,-83.32,-1.50,162.75,5381.13,27220.69
Unit Price,8399.0,7.504192e+05,0.99,20.99,290.35,8.430567e+04,1.76,6.48,20.99,85.99,811.42,6783.02
Shipping Cost,8399.0,1.078310e+05,0.49,6.07,17.26,2.980500e+02,0.50,3.30,6.07,13.99,74.35,164.73
Product Base Margin,8336.0,4.272310e+03,0.35,0.52,0.14,2.000000e-02,0.35,0.38,0.52,0.59,0.83,0.85

2. UDF for categorycal data

In [10]:
def categorycal_summary(y):
  Mode = y.value_counts().reset_index()
  return pd.Series([y.count(), y.isna().sum(), Mode.iloc[0,0], Mode.iloc[0, 1], (Mode.iloc[0,1]*100 / y.count())],
                   index= ['N', 'N-MISS', 'MODE', 'FREQ', 'PERC'])

In [13]:
df_cat_vars.apply(categorycal_summary).T.round(2)

,N,N-MISS,MODE,FREQ,PERC
Order Priority,8399,0,High,1768,21.050125
Ship Mode,8399,0,Regular Air,6270,74.651744
Customer Name,8399,0,Darren Budd,41,0.488153
Province,8399,0,Ontario,1826,21.740683
Region,8399,0,West,1991,23.705203
Customer Segment,8399,0,Corporate,3076,36.623408
Product Category,8399,0,Office Supplies,4610,54.887487
Product Sub-Category,8399,0,Paper,1225,14.58507
Product Name,8399,0,"Global High-Back Leather Tilter, Burgundy",24,0.285748
Product Container,8399,0,Small Box,4347,51.756161